### Creare e scrivere in un file di testo

In [13]:
with open("appunti.txt", "w", encoding="utf-8") as f:
    f.write("Questo Ã¨ il mio primo file.\n")
    f.write("Sto imparando a usare i file con Python!ðŸ˜‰\n")
    f.write("Ora so come usare Sql server e PythonðŸŽ‰")

### Leggere il file di tipo .txt

In [14]:
with open("appunti.txt", "r", encoding="utf-8") as f:
    contenuto = f.read()

print(contenuto)

Questo Ã¨ il mio primo file.
Sto imparando a usare i file con Python!ðŸ˜‰
Ora so come usare Sql server e PythonðŸŽ‰

### Aggiornare contenuto a un file esistente

In [15]:
with open("appunti.txt", "a", encoding="utf-8") as f:
    f.write("\nSono molto felice oggiðŸ˜Š.")

### File Json
### Legge un file JSON

In [16]:
import json

In [17]:
studente = {
    "id": 100,
    "nome": "Ilaria",
    "cognome": "Colombraro",
    "classe": "4A",
    "corsi": [10, 11]
}

In [18]:
with open("studente.json", "w", encoding="utf-8") as f:
    json.dump(studente, f, indent=5)

In [19]:
import json

with open("studente.json", "r", encoding="utf-8") as f:
    data = json.load(f)

print(data)
print(data["nome"])

{'id': 100, 'nome': 'Ilaria', 'cognome': 'Colombraro', 'classe': '4A', 'corsi': [10, 11]}
Ilaria

### Salvare dati in un file Excel

In [20]:
import pandas as pd

In [21]:
dati = {
    "StudenteId": [100, 101, 102],
    "Nome": ["Anna", "Marco", "Luca"],
    "Classe": ["A4", "C5", "4B"]
}

In [22]:
df = pd.DataFrame(dati)
print(df)

   StudenteId   Nome Classe
0         100   Anna     A4
1         101  Marco     C5
2         102   Luca     4B

In [23]:
df.to_excel("studenti.xlsx", index=False)

### Leggere il contenuto del foglio Excel

In [24]:
import pandas as pd

df = pd.read_excel("studenti.xlsx")
print(df)

   StudenteId   Nome Classe
0         100   Anna     A4
1         101  Marco     C5
2         102   Luca     4B