### Creare e scrivere in un file di testo

In [58]:
with open("appunti.txt", "w", encoding="utf-8") as f:
    f.write("Questo Ã¨ il mio primo file.\n")
    f.write("Sto imparando a usare i file con Python!ðŸ˜‰\n")
    f.write("Ora so come usare Sql server e PythonðŸŽ‰")

### Leggere il file di tipo .txt

In [59]:
with open("appunti.txt", "r", encoding="utf-8") as f:
    contenuto = f.read()

print(contenuto)

Questo Ã¨ il mio primo file.
Sto imparando a usare i file con Python!ðŸ˜‰
Ora so come usare Sql server e PythonðŸŽ‰

### Aggiornare contenuto a un file esistente

In [60]:
with open("appunti.txt", "a", encoding="utf-8") as f:
    f.write("\nSono molto felice oggiðŸ˜Š.")

### File Json
### Legge un file JSON

In [61]:
import json

In [62]:
studente = {
    "id": 100,
    "nome": "Ilaria",
    "cognome": "Colombraro",
    "classe": "4A",
    "corsi": [10, 11]
}

In [63]:
with open("studente.json", "w", encoding="utf-8") as f:
    json.dump(studente, f, indent=5)

In [64]:
import json

with open("studente.json", "r", encoding="utf-8") as f:
    data = json.load(f)

print(data)
print(data["nome"])

{'id': 100, 'nome': 'Ilaria', 'cognome': 'Colombraro', 'classe': '4A', 'corsi': [10, 11]}
Ilaria

### Salvare dati in un file Excel

In [65]:
import pandas as pd

In [66]:
dati = {
    "StudenteId": [100, 101, 102],
    "Nome": ["Anna", "Marco", "Luca"],
    "Classe": ["A4", "C5", "4B"]
}

In [67]:
df = pd.DataFrame(dati)
print(df)

   StudenteId   Nome Classe
0         100   Anna     A4
1         101  Marco     C5
2         102   Luca     4B

In [68]:
df.to_excel("studenti.xlsx", index=False)

### Leggere il contenuto del foglio Excel

In [69]:
import pandas as pd

df = pd.read_excel("studenti.xlsx")
print(df)

   StudenteId   Nome Classe
0         100   Anna     A4
1         101  Marco     C5
2         102   Luca     4B

#### 1) CREAZIONE DI 10 STUDENTI IN UN DICTIONARY

In [70]:
import json   # Libreria standard per lavorare con file JSON

studenti = {
    100: {"nome": "Anna",  "classe": "4A", "corsi": [10, 11]},
    101: {"nome": "Marco", "classe": "4A", "corsi": [10]},
    102: {"nome": "Sara",  "classe": "4B", "corsi": [11, 12]},
    103: {"nome": "Luca",  "classe": "4B", "corsi": [10]},
    104: {"nome": "Marta", "classe": "4C", "corsi": [12]},
    105: {"nome": "Paolo", "classe": "5A", "corsi": [10, 11]},
    106: {"nome": "Giada", "classe": "5A", "corsi": [11]},
    107: {"nome": "Elisa", "classe": "5B", "corsi": [12]},
    108: {"nome": "Fabio", "classe": "5C", "corsi": [10]},
    109: {"nome": "Enzo",  "classe": "5C", "corsi": [11, 12]}
}

for studente in studenti.values():
    print(studente)

{'nome': 'Anna', 'classe': '4A', 'corsi': [10, 11]}
{'nome': 'Marco', 'classe': '4A', 'corsi': [10]}
{'nome': 'Sara', 'classe': '4B', 'corsi': [11, 12]}
{'nome': 'Luca', 'classe': '4B', 'corsi': [10]}
{'nome': 'Marta', 'classe': '4C', 'corsi': [12]}
{'nome': 'Paolo', 'classe': '5A', 'corsi': [10, 11]}
{'nome': 'Giada', 'classe': '5A', 'corsi': [11]}
{'nome': 'Elisa', 'classe': '5B', 'corsi': [12]}
{'nome': 'Fabio', 'classe': '5C', 'corsi': [10]}
{'nome': 'Enzo', 'classe': '5C', 'corsi': [11, 12]}

#### 2) SALVA I 10 STUDENTI IN UN FILE JSON (studente.json)

In [71]:

# Apri il file in modalitÃ  scrittura "w"
# encoding="utf-8" permette di usare caratteri italiani
with open("studenti.json", "w", encoding="utf-8") as f:
    # json.dump() salva un oggetto Python dentro un file JSON
    json.dump(studenti, f, indent=4)
    # indent=4 serve a formattare il file in modo leggibile

print("âœ”ï¸ File salvato: studenti.json")

âœ”ï¸ File salvato: studenti.json

#### 3) LEGGERE IL FILE JSON CREATO

In [72]:
with open("studenti.json", "r", encoding="utf-8") as f:
    dati = json.load(f)  # json.load() legge e converte il JSON in dict

#### 4) STAMPARE SOLO ID E NOME DEGLI STUDENTI

In [73]:
print("\nðŸ“Œ Lista studenti: solo ID e nome\n")

for id_studente, info in dati.items():
    print(f"StudenteId: {id_studente} - Nome dello student: {info['nome']}")

ðŸ“Œ Lista studenti: solo ID e nome

StudenteId: 100 - Nome dello student: Anna
StudenteId: 101 - Nome dello student: Marco
StudenteId: 102 - Nome dello student: Sara
StudenteId: 103 - Nome dello student: Luca
StudenteId: 104 - Nome dello student: Marta
StudenteId: 105 - Nome dello student: Paolo
StudenteId: 106 - Nome dello student: Giada
StudenteId: 107 - Nome dello student: Elisa
StudenteId: 108 - Nome dello student: Fabio
StudenteId: 109 - Nome dello student: Enzo

### Aggiungere un nuovo foglio Excel

In [74]:
import pandas as pd

df1 = pd.DataFrame({"A": [1,2,3]})
df2 = pd.DataFrame({"B": [4,5,6]})

with pd.ExcelWriter("esempio.xlsx") as writer:
    df1.to_excel(writer, sheet_name="Primo", index=False)
    df2.to_excel(writer, sheet_name="Secondo", index=False)

In [75]:
import numpy as np
import pandas as pd

studenti = {
    100: {"nome": "Anna",  "classe": "4A", "corsi": [10, 11]},
    101: {"nome": "Marco", "classe": "4A", "corsi": [10]},
    102: {"nome": "Sara",  "classe": "4B", "corsi": [11, 12]},
    103: {"nome": "Luca",  "classe": "4B", "corsi": [10]},
    104: {"nome": "Marta", "classe": "4C", "corsi": [12]},
    105: {"nome": "Paolo", "classe": "5A", "corsi": [10, 11]},
    106: {"nome": "Giada", "classe": "5A", "corsi": [11]},
    107: {"nome": "Elisa", "classe": "5B", "corsi": [12]},
    108: {"nome": "Fabio", "classe": "5C", "corsi": [10]},
    109: {"nome": "Enzo",  "classe": "5C", "corsi": [11, 12]}
}

df2 = pd.DataFrame(np.random.rand(10, 4), studenti["nome", "classe", "corsi"])
df2.plot.bar()

KeyError: ('nome', 'classe', 'corsi')

In [38]:
import matplotlib.pyplot as plt
import pandas as pd

# --- DATA -------------------------------------------------------
studenti = {
    100: {"nome": "Anna",  "classe": "4A", "corsi": [10, 11]},
    101: {"nome": "Marco", "classe": "4A", "corsi": [10]},
    102: {"nome": "Sara",  "classe": "4B", "corsi": [11, 12]},
    103: {"nome": "Luca",  "classe": "4B", "corsi": [10]},
    104: {"nome": "Marta", "classe": "4C", "corsi": [12]},
    105: {"nome": "Paolo", "classe": "5A", "corsi": [10, 11]},
    106: {"nome": "Giada", "classe": "5A", "corsi": [11]},
    107: {"nome": "Elisa", "classe": "5B", "corsi": [12]},
    108: {"nome": "Fabio", "classe": "5C", "corsi": [10]},
    109: {"nome": "Enzo",  "classe": "5C", "corsi": [11, 12]}
}

corsi = {
    10: "Matematica",
    11: "Italiano",
    12: "Informatica"
}

voti = {
    100: {10: 8, 11: 7},
    101: {10: 6},
    102: {11: 9, 12: 8},
    103: {10: 7},
    104: {12: 6},
    105: {10: 9, 11: 8},
    106: {11: 7},
    107: {12: 9},
    108: {10: 5},
    109: {11: 8, 12: 7}
}

In [39]:
# --- BUILD DATAFRAME -------------------------------------------
records = []

for id_stud, info in studenti.items():
    for corso in info["corsi"]:
        records.append({
            "id": id_stud,
            "nome": info["nome"],
            "classe": info["classe"],
            "corso": corsi[corso],
            "voto": voti[id_stud].get(corso, None)
        })

df = pd.DataFrame(records)

In [ ]:

# --- 1. BAR CHART voti medi per studente ------------------------
media_voti = df.groupby("nome")["voto"].mean()

plt.figure(figsize=(10,5))
plt.bar(media_voti.index, media_voti.values)
plt.xticks(rotation=45)
plt.title("Voto medio per studente")
plt.ylabel("Voto medio")
plt.tight_layout()
plt.show()

In [1]:
# --- 2. BAR CHART voti per corso -------------------------------
media_corsi = df.groupby("corso")["voto"].mean()

plt.figure(figsize=(8,5))
plt.bar(media_corsi.index, media_corsi.values)
plt.xticks(rotation=45)
plt.title("Voti medi per corso")
plt.ylabel("Voto medio")
plt.tight_layout()
plt.show()

NameError: name 'df' is not defined

In [ ]:
# --- 3. TOP 5 STUDENTI -----------------------------------------
top5 = media_voti.sort_values(ascending=False).head(5)

plt.figure(figsize=(10,5))
plt.bar(top5.index, top5.values)
plt.xticks(rotation=45)
plt.title("Top 5 studenti per voto medio")
plt.ylabel("Voto medio")
plt.tight_layout()
plt.show()

In [ ]:

# --- 4. DISTRIBUZIONE VOTI --------------------------------------
plt.figure(figsize=(8,5))
plt.hist(df["voto"])
plt.title("Distribuzione dei voti")
plt.xlabel("Voto")
plt.ylabel("Frequenza")
plt.tight_layout()
plt.show()

In [ ]:
# --- 5. STUDENTI CON ALMENO UN CORSO E VOTO > X -----------------
X = 7
df_filtrato = df[df["voto"] > X]

conteggio = df_filtrato.groupby("nome")["voto"].count()

plt.figure(figsize=(10,5))
plt.bar(conteggio.index, conteggio.values)
plt.xticks(rotation=45)
plt.title(f"Studenti con almeno un voto > {X}")
plt.ylabel("Numero voti sopra soglia")
plt.tight_layout()
plt.show()